.footer_contener {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #1b1b1b;
  color: white;
  font-weight: bold;
  font-size: 17px;
  hr {
    width: 90%;
    // height: 3px;
  }
  .about_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    img {
      width: 140px;
      height: 40px;
    }
  }
  .about_right {
    width: 100%;
    height: 50%;
  }
}
